/* This css file goes in the _static directory */

/* a lightly-shaded “callout” section */
/* to use it:  <div class="highlight-section"> * stuff here  </div>  */
.highlight-section {
  background-color: #F4FBFF;  /* choose your color */
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
}

/* There is javascript in the custom.js file, also in the _static directory, to make this work */

/* The !important directive is, indeed, important for this to work */

/* give any AAA page a background --- specify the color by the hex code here */
body.aaa-page {
  background-color: #FFFFED !important;
}

/* prepend an asterisk (or anything else) to the (first) H1 on the page */
body.aaa-page h1::before {
  content: "* " !important;
}